doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/style.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
  body
        #page-wrap
          if message
            h2= message

          block content

script(src='http://code.jquery.com/jquery-1.11.0.min.js')

script
   $(".permalink").click(function () {
   $(this).fadeOut("slow", function () {
   $(".permalink-hidden").fadeIn("slow", function () {
   });
   $(".permalink-hidden").focus();
   });
   });